<h1>Estos son los restaurantes</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %></li>
  <% end %>
</ul>


<!-- text_field_tag("search")
<input type="text" name="search">


text_field('restuarante', 'name')
<input type="text" name="restaurante[name]">


f.text_field('name', {class id data: {fdsj}})
<input type="text" name="restaurante[name]"> -->

<!-- View helpers -->


<%= form_tag root_path, method: 'get' do %>
  <%= label_tag :query, 'Resturante' %>
  <%= text_field_tag(:query) %>
  <%= submit_tag "Buscar restaurante" %>
<% end %>

<%= link_to "Crear restaurante", new_restaurant_path %>




