<h1>Nuevo Restaurante</h1>


<form action="/restaurants" method="post"></form>

<%= form_tag '/restaurants', method: :post do%>
  Name: <%= text_field(:restaurant, :name) %>
  Food: <%= text_field(:restaurant, :food) %>
  <%= submit_tag 'Crear Restaurante' %>
<% end %>


<!-- Form builder -->
<%= form_for @restaurant do |f|%>
  Name: <%= f.text_field :name %>
  Food: <%= f.text_field :food %>
  <%= submit_tag 'Crear Restaurante' %>
<% end %>
