<!-- Embrace confusion -->

<h1>Crear una cancion</h1>

<!-- Se usa para formularios NO asociados a un modelo -->
<!-- form_tag(url_for_options = {}, options = {}, &block) -->
<%= form_tag '/songs', method: :get do  %>
  <%= text_field_tag 'query'%>
  <%= submit_tag "Busca tu cancion" %>
<% end %>

<!-- Se usa para formularios asociados a un modelo -->

<%= form_for @song do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :artist %>
  <%= f.text_field :genre %>
  <%= f.submit "Crea tu cancion" %>
<% end %>




<form action="/"></form>
  <input type="hidden" name='_method' value='patch'>
  <input type="text" name='song[title]'>
  <input type="text" name='song[title]'>
  <input type="text" name='song[genre]'>
  <input type="submit" value='Crea la cancion'>
</form>
